<br>
<h2 class="text-center">Contact Us</h2>
<hr>
<br>
<div class="p-4">
    <div class="contact">
        <div class="contact-list">
            <img src="../../../assets/img/contacts/emergency.png" width="80px" alt="">
            <div class="content mt-4">
                <div class="accent-color">
                    Emercency Helpline
                </div>
                <div class="text">
                    033 40233030
                </div>
            </div>
        </div>
        <div class="contact-list">
            <img src="../../../assets/img/contacts/admin.png" width="80px" alt="">
            <div class="content mt-4">
                <div class="accent-color">
                    Admin Support
                </div>
                <div class="text">
                    <a href="mailto:admin@Demo.com">admin@Demo.com</a>
                </div>
            </div>
        </div>
        <div class="contact-list">
            <img src="../../../assets/img/contacts/technical-support.png" width="80px" alt="">
            <div class="content mt-4">
                <div class="accent-color">
                    Technical Support
                </div>
                <div class="text">
                    <a href="mailto:info@turtleye.com"> info@turtleye.com</a>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="credit text-center">
        <a href="http://turtleye.com/">TutlEye</a>
    </div>
</div>