h2,h4,h3{
    font-family: "Poppins", sans-serif !important;
}
.mat-dialog-content {
    margin: 0px !important; 
    font-family: "Poppins", sans-serif !important;

}

.alert{
    padding: 1rem;
    margin-bottom: 0;
}

.mat-dialog-container {
    padding: 0px !important;
    font-family: "Poppins", sans-serif !important;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    margin-bottom: 0px;
}