<br>
<h2 class="text-center">Terms and Conditions</h2>
<hr>
<br>
<div class="p-4">

      <p><span><strong>PLEASE READ THESE TERMS OF USE (“TERMS”) CAREFULLY BEFORE USING ANY Demo Smart OPD
                        PLATFORM.</strong></span></p>
      <p><span>Welcome to the Demo Smart OPD community!&nbsp;</span></p>
      <p><span>These Terms create a <strong>legally binding</strong> <strong>agreement between you and Demo Smart OPD
                        Technology Ventures, The Terminus Building, Unit 416 &amp; 417, 4<sup>th</sup> Floor, Action
                        Area 1B, New
                        Town, Kolkata – 700156, West Bengal, India </strong>and its affiliates (hereinafter referred to
                  as “Demo
                  Smart OPD,” “we,” “us,” or “our”) regarding your use of the Platform.&nbsp;</span></p>
      <p><span>You are reading these Terms because you are using a Demo Smart OPD mobile app, website, digital
                  experience, social media platform, wearable technology, or one of our other products or services, all
                  of which
                  are part of Demo Smart OPD’s Platform (“Platform”).&nbsp; You may access the Platform through a
                  computer,
                  mobile phone, tablet, console, or other technology, which we refer to here as a “Device”.&nbsp; Your
                  carrier's
                  normal rates and fees apply to your Device.</span></p>
      <p><span>A few important points:</span></p>
      <ul>
            <li><span><strong>Our Terms May Change.&nbsp; </strong>We may update these Terms from time to time.&nbsp; If
                        a
                        material change is made, we will post a notice on the Platform or send you a notification.&nbsp;
                        Read
                        through any changes, and if you don’t agree to them, please stop using the Platform.&nbsp; If
                        you continue
                        to use our Platform after we notify you of changes, you will be deemed to have accepted the
                        updated Terms,
                        except to the extent prohibited by applicable law. &nbsp;</span></li>
      </ul>
      <p><br></p>
      <ul>
            <li><span><strong>Terms of Sale.</strong>By making any purchase with us, you also agree to the&nbsp;Terms of
                        Sale.
                        Any terms agreed as per the Terms of Sale that conflicts with the Terms mentioned herein, in
                        that case the
                        Terms of Sale prevails.</span></li>
      </ul>
      <p><br></p>
      <ul>
            <li><span><strong>Privacy Policy. &nbsp;</strong>Our&nbsp;describes the collection and use of personal
                        information
                        on the Platform and applies to your use of the Platform.</span></li>
      </ul>
      <p><br></p>
      <h5><span>1.&nbsp;GROUND RULES</span></h5>
      <p><span><strong>Eligibility.</strong>&nbsp; You are only eligible to use the Platform if you are of legal age in
                  your country or if you have consent from your parent or guardian. &nbsp;</span></p>
      <p><span><strong>Rules for Registration.</strong>&nbsp; When you register for an account with us, the following
                  rules
                  apply:</span></p>
      <ul>
            <li><span><strong>Be True</strong>:&nbsp; Provide accurate and current registration information.</span></li>
            <li><span><strong>Be You</strong>:&nbsp; Keep your registration personal.&nbsp; Do not register for more
                        than one
                        Demo Smart OPD account, register a Demo Smart OPD account on behalf of someone else, or transfer
                        your account.</span></li>
            <li><span><strong>Be Secure</strong>:&nbsp; Keep your username, password and other login credentials secure
                        and do
                        not allow anyone else to use your account.&nbsp;</span></li>
            <li><span><strong>Be Responsible</strong>:&nbsp; Inform Demo Smart OPD immediately of any unauthorized use
                        of
                        your Demo Smart OPD account.&nbsp; You are responsible for anything that happens through your
                        Demo
                        Smart OPD account – with or without your permission. TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE
                        LAW,
                        Demo Smart OPD IS NOT RESPONSIBLE FOR ANY LOSS OR ACTIVITY THAT RESULTS FROM THE UNAUTHORIZED
                        USE OF
                        YOUR ACCOUNT. &nbsp;</span></li>
      </ul>
      <h5><span>2.&nbsp; OWNERSHIP OF CONTENT</span></h5>
      <p><span>Except for User Content (defined below), all of the content on our Platform - including text, software,
                  scripts, code, designs, graphics, photos, sounds, music, videos, applications, interactive features,
                  articles,
                  news stories, sketches, animations, stickers, general artwork and other content ("Content") - is owned
                  by
                  Demo Smart OPD or others we license Content from, and is protected by copyright, trademark, patent and
                  other laws. Demo Smart OPD reserves all rights not expressly described in these Terms.</span></p>
      <ul>
            <li><span>You agree not to change or delete any ownership notices from materials downloaded or printed from
                        the
                        Platform.</span></li>
            <li><span>To the extent Demo Smart OPD approves the download or use of Content comprised of copyrights or
                        copyrightable works, Demo Smart OPD grants you a limited, personal, non-transferable,
                        non-sublicensable,
                        and revocable license to access and use such copyrights or copyrightable works solely for their
                        intended
                        purpose and solely for as long as Demo Smart OPD makes such Content generally available to the
                        public.
                        You do not acquire any ownership rights in the Content (including any trademarks or other
                        intellectual
                        property included in the Content), and all such Content is intended for personal, non-commercial
                        use.&nbsp;
                        Demo Smart OPD reserves the right to monitor your use and to alter or revoke this license or
                        your access
                        to the Content at any time and for any reason.&nbsp; Demo Smart OPD reserves the right to take
                        down any
                        Content in violation of these terms or Demo Smart OPD’s intellectual property rights.&nbsp; Demo
                        Smart OPD allowing you this limited use does not constitute a waiver of any of Demo Smart OPD’s
                        rights
                        to the Content.&nbsp;</span></li>
            <li><span>Outside of the specific usage rights granted to you by Demo Smart OPD in connection with the
                        Platform, you agree not to use, copy, edit, translate, display, distribute, download, transmit,
                        sell, create
                        derivative works of, or in any way exploit any Content, including User Content (unless it is
                        your own User
                        Content that you legally post on the Platform), without Demo Smart OPD’s prior written consent.
                        Unauthorized use of the Content may constitute a breach of copyright, trademark or other
                        intellectual
                        property laws and may subject you to criminal or civil charges and penalties.</span></li>
      </ul>
      <h5><span>3.&nbsp;&nbsp;POSTING CONTENT ON THE PLATFORM</span></h5>
      <p><span><strong>User Content License.</strong>&nbsp;Some parts of the Platform allow you to post photos, videos,
                  comments, and other content, which we refer to as “User Content.”&nbsp; Demo Smart OPD is not
                  responsible
                  for User Content others post to the Platform. User Content is owned by you or whoever created it, but
                  when you
                  post User Content you license it to Demo Smart OPD as described below:</span></p>
      <ul>
            <li><span>You represent that you have the right to post your User Content, and you grant Demo Smart OPD a
                        non-exclusive, perpetual, transferable, sub-licensable, royalty-free, worldwide license to use
                        any of the
                        User Content that you post on or in connection with the Platform, including the likeness of any
                        person that
                        appears in the User Content, or any of the concepts or ideas contained in the User Content, for
                        any purpose,
                        including commercial use, which includes the right to translate, display, reproduce, modify,
                        create
                        derivative works, sublicense, distribute and assign these rights. Demo Smart OPD may, in its
                        sole
                        discretion, remove any User Content at any time.&nbsp;&nbsp;</span></li>
            <li><span>You understand that deleted User Content may persist in Demo Smart OPD’s systems and on the
                        Platform
                        to the extent your User Content has been publicly posted or shared with others who have not
                        deleted it,
                        unless you or the relevant individual request deletion or blocking of personal data in
                        accordance with
                        applicable law.&nbsp;</span></li>
      </ul>
      <p><span><strong>LICENSE TO USE COMMENTS, FEEDBACK AND IDEAS</strong>.&nbsp; You understand that&nbsp;any
                  comments,
                  feedback, or ideas you send us are provided on a non-confidential basis and you grant to Demo Smart
                  OPD a
                  perpetual, worldwide license to use all comments, feedback and ideas&nbsp;you may share with us,
                  without
                  notice, compensation or acknowledgement to you, for any purposes whatsoever, including, but not
                  limited to,
                  developing, manufacturing and marketing products and services and creating, modifying or improving
                  products and
                  services.&nbsp;</span></p>
      <h5><span>4.&nbsp;&nbsp;USER CODE OF CONDUCT</span></h5>
      <p><span>We’re excited to have you contribute to the Demo Smart OPD community.&nbsp; Here are a few basic
                  rules:</span></p>
      <ul>
            <li><span><strong>Be Original.&nbsp;&nbsp;</strong>Only post User Content to the Platform if you have all
                        permissions and rights needed to make that User Content available, including from any
                        individuals who appear
                        or are mentioned in your User Content.&nbsp;</span></li>
            <li>
                  <span><strong>Be Safe.</strong></span>
                  <ul>
                        <li><span>Do not do anything that may expose Demo Smart OPD or its users to any type of harm,
                                    including
                                    anything that may disrupt, damage, disable, tamper with, overburden or limit the
                                    functionality of the
                                    Platform.</span></li>
                        <li><span>Do not post User Content that contains software viruses, programs or other computer
                                    code, and do
                                    not circumvent or modify any Platform software or security technology.</span></li>
                        <li><span>Do not use any data mining, robots, scraping or similar data gathering methods.</span>
                        </li>
                        <li><span>Unless we indicate otherwise, our Platform is a public place.&nbsp; Do not post
                                    personal
                                    information to the Platform - yours or anybody else’s.</span></li>
                        <li>
                              <span><strong>Be Personal.</strong></span>
                              <ul>
                                    <li><span>Do not post any advertising, solicitation or commercial content on the
                                                Platform or accept
                                                payment from a third party in exchange for performing commercial
                                                activity on the
                                                Platform.</span></li>
                                    <li><span>Do not collect or solicit personal information from other Platform users
                                                or send unsolicited
                                                messages.</span></li>
                                    <li><span>Do not use automated technology to interact with the Platform.</span></li>
                                    <li><span><strong>Be Appropriate.</strong>Respect the community and do not post User
                                                Content, link to
                                                a website, or do anything that is illegal, misleading, malicious,
                                                harassing, inaccurate,
                                                discriminatory, or otherwise objectionable or inappropriate or which
                                                violates any applicable
                                                laws. Demo Smart OPD has the right to prescreen, monitor, or remove User
                                                Content – but we
                                                have no obligation to do so.</span></li>
                                    <li><span><strong>Be Yourself.&nbsp;&nbsp;</strong>Do not impersonate any person or
                                                organization.</span></li>
                              </ul>
                        </li>
                  </ul>
            </li>
      </ul>
      <p><br></p>
      <h5><span>5.&nbsp;&nbsp;COPYRIGHT INFRINGEMENT</span></h5>
      <p><span>Please consult your legal advisor before filing a notice with us because there may be penalties for false
                  claims.&nbsp; Demo Smart OPD may terminate the accounts of Platform users found to infringe third
                  party
                  copyrights.</span></p>
      <p><span>If you believe that your work has been improperly copied to the Platform, such that it constitutes
                  infringement, please provide us with the following information:</span></p>
      <p><span>(1) name, address, telephone number, email address and an electronic or physical signature of the
                  copyright
                  owner or of the person authorized to act on his/her behalf;</span></p>
      <p><span>(2) a description of the copyrighted work that you claim has been infringed;</span></p>
      <p><span>(3) a description of where on the Platform the content that you claim is infringing is located;</span>
      </p>
      <p><span>(4) a written statement that you have a good faith belief that the disputed use is not authorized by the
                  copyright owner, its agent, or the law; and</span></p>
      <p><span>(5) a statement by you, made under penalty of perjury (depending on applicable law), that the above
                  information in your notice is accurate and that you are the copyright owner or authorized to act on
                  the
                  copyright owner's behalf.</span></p>
      <p><span>Send copyright infringement complaints to:</span></p>
      <p><span>Demo Smart OPD Technology Ventures</span></p>
      <p><span>The Terminus Building, Unit 416 &amp; 417, 4<sup>th</sup> Floor, Action Area 1B, New Town, Kolkata –
                  700156,
                  West Bengal, India</span></p>
      <p><br></p>
      <p><span><a href="mailto:Copyright.legal@nike.com" href="mailto:Copyright.legal@nike.com">admin@Demo Smart
                        OPD.com</a></span></p>
      <h5><span>6.&nbsp;&nbsp;PARTNERS ON THE PLATFORM</span></h5>
      <p><span>From time to time, Demo Smart OPD may link to or partner with third-party websites, social media
                  platforms, mobile apps, and other products and services (“Third Parties”).&nbsp; You may be able to
                  connect
                  with these Third Parties through the Platform, but this does not mean Demo Smart OPD endorses,
                  monitors or
                  has any control over these Third Parties or their activities, which are subject to separate terms of
                  use and
                  privacy policies<strong>.&nbsp;&nbsp;</strong>You should carefully review any Third Party’s sites and
                  terms of
                  use and privacy policy.&nbsp;<strong>Demo Smart OPD is not responsible for the content, policies, or
                        activities of Third Parties and you interact with Third Parties at your own
                        risk.</strong></span></p>
      <h5><span>7.&nbsp;&nbsp;IMPORTANT DISCLAIMERS</span></h5>
      <p><span><strong>PHYSICAL ACTIVITY.&nbsp;&nbsp;</strong>The Platform may include features that promote physical
                  activity, nutrition or general wellness.&nbsp; They are for your informational purposes only and are
                  not
                  intended as medical advice or services, or for diagnostic or treatment
                  purposes.&nbsp;<strong>&nbsp;</strong></span></p>
      <ul>
            <li><span>Consider the risks involved and consult with your medical professional before engaging in any
                        physical
                        activity.&nbsp;</span></li>
            <li>
                  <span>Never disregard professional medical advice or delay in seeking it because of something you have
                        viewed
                        on the Platform.&nbsp;</span>
                  <ul>
                        <li><span>TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, Demo Smart OPD IS NOT RESPONSIBLE OR
                                    LIABLE
                                    FOR ANY INJURIES OR DAMAGES YOU MAY SUSTAIN THAT RESULT FROM YOUR USE OF, OR
                                    INABILITY TO USE, THE
                                    FEATURES ON THE PLATFORM.</span></li>
                  </ul>
            </li>
      </ul>
      <p><span><strong>USER INTERACTIONS.&nbsp;&nbsp;</strong>To the extent allowed by applicable law, we are not
                  responsible for your interactions with other users of the Platform or any damage or harm you may
                  experience
                  because of these interactions.</span></p>
      <p><span>Be responsible and take precautions when interacting with other users (including users you do not know)
                  on
                  the Platform. Before you meet another person face-to-face, consider investigating, bringing a friend,
                  choosing
                  public locations and letting someone know where you will be.&nbsp; Demo Smart OPD is under no
                  obligation to
                  become involved with any user dispute, but may do so at its own
                  discretion.<strong>&nbsp;&nbsp;</strong></span>
      </p>
      <ul>
            <li><span>The Platform, Content, and the materials and products on this Platform are provided "AS IS.” We
                        aren’t
                        making any promises of any kind, including about the Platform’s accuracy, adequacy, usefulness,
                        reliability
                        or otherwise. TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, Demo Smart OPD IS NOT RESPONSIBLE
                        OR
                        LIABLE FOR ANY USER CONTENT POSTED ON THE PLATFORM.&nbsp; &nbsp;</span></li>
            <li><span>Demo Smart OPD does not guarantee that the Platform will be uninterrupted or error-free, that any
                        defects will be corrected, or that the Platform is free of viruses or anything else harmful.
                        &nbsp;</span>
            </li>
            <li><span>To the fullest extent permitted by law, Demo Smart OPD disclaims all warranties, express or
                        implied,
                        regarding the Platform, Content, User Content and any products or services you may obtain or
                        access through
                        the Platform, including, but not limited to, implied warranties of title, merchantability,
                        fitness for a
                        particular purpose and non-infringement.</span></li>
            <li><span>You are solely responsible for any damage to your Device resulting from accessing the Platform, to
                        the
                        extent applicable law does not provide otherwise.</span></li>
            <li><span>We hope you enjoy and get the full benefit of the Platform; however, we do not guarantee any
                        results.</span></li>
      </ul>
      <h5><span>8.&nbsp;&nbsp;TERMINATION</span></h5>
      <p><span>Demo Smart OPD may terminate or modify any Demo Smart OPD Platform, member program, product or
                  service at any time without notice.</span></p>
      <p><span>Demo Smart OPD may terminate or suspend your account, delete your profile or any of your User Content,
                  and restrict your use of all or any part of the Platform at any time and for any reason, without any
                  liability
                  to Demo Smart OPD, subject to applicable law.&nbsp; &nbsp;&nbsp;</span></p>
      <ul>
            <li><span>You understand and agree that some of your User Content, particularly that which is displayed in
                        an
                        activity feed or in other public places on the Platform, may continue to appear publicly even
                        after your
                        account is terminated, subject to your right to have your User Content removed upon request in
                        accordance
                        with applicable law.</span></li>
            <li><span>These Terms remain in effect even after your account is terminated or you have stopped using the
                        Platform.</span></li>
      </ul>
      <h5><span>9.&nbsp;&nbsp;INDEMNIFICATION / LIMITATION OF LIABILITY</span></h5>
      <p><span>We want you to enjoy our Platform, but Demo Smart OPD must also protect itself from any damages you may
                  cause.</span></p>
      <p><span><strong>Indemnification and RELEASE.&nbsp;&nbsp;&nbsp;</strong>You agree to indemnify, defend, and hold
                  harmless Demo Smart OPD TECHNOLOGY VENTURES, its affiliates, officers, directors, employees, agents,
                  licensors and suppliers (the “Demo Smart OPD Parties”) from and against all claims, losses,
                  liabilities,
                  expenses, damages and costs, including, without limitation, attorneys' fees, arising from or relating
                  in any
                  way to your User Content, your use of Content, your use of the Platform, your conduct in connection
                  with the
                  Platform or with other Platform users, or any violation of these Terms of Use, any law or the rights
                  of any
                  third party. You, for yourself and on behalf of your heirs, estate, insurers, successors and assigns,
                  hereby
                  fully and forever release and discharge the Demo Smart OPD Parties from any and all claims or causes
                  of
                  action you may have for damages relating in any way to your use of the Platform.</span></p>
      <p><span><strong>LIMITATION OF LIABILITY.</strong>&nbsp;&nbsp;<strong>&nbsp;</strong>NONE OF THE Demo Smart OPD
                  PARTIES WILL BE LIABLE FOR ANY DIRECT, SPECIAL, INCIDENTAL, INDIRECT OR CONSEQUENTIAL DAMAGES,
                  INCLUDING
                  WITHOUT LIMITATION FOR ANY LOST PROFITS OR LOST DATA, THAT RESULT FROM THE USE OF, OR THE INABILITY TO
                  USE, THE
                  PLATFORM OR THE PERFORMANCE OF THE PRODUCTS PURCHASED THROUGH THE PLATFORM OR THE CONDUCT OF OTHER
                  PLATFORM
                  USERS (WHETHER ONLINE OR OFFLINE), OR ATTENDANCE AT A Demo Smart OPD EVENT OR Demo Smart OPD PARTNER
                  EVENTS, OR ANY USER CONTENT OR ANY OTHER ACTIVITY IN CONNECTION WITH THE USE OF THE PLATFORM, EVEN IF
                  Demo
                  Smart OPD HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. &nbsp;YOU ASSUME TOTAL RESPONSIBILITY
                  FOR YOUR
                  USE OF THE PLATFORM. YOUR ONLY REMEDY AGAINST Demo Smart OPD IN CONNECTION WITH ANY DAMAGES ARISING
                  FROM
                  YOUR USE OF THE PLATFORM OR ANY CONTENT IS TO STOP USING THE PLATFORM. IF Demo Smart OPD IS FOUND TO
                  BE
                  LIABLE TO YOU FOR ANY DAMAGE OR LOSS WHICH IS IN ANY WAY CONNECTED WITH YOUR USE OF THE PLATFORM OR
                  ANY
                  CONTENT, Demo Smart OPD'S LIABILITY SHALL NOT EXCEED US$100.&nbsp;&nbsp;</span></p>
      <ol start="10">
            <li><span><strong>APP MARKETPLACES:&nbsp;</strong>You acknowledge that this agreement is between you and
                        Demo
                        Smart OPD only, and not with the app marketplace where you downloaded a Demo Smart OPD app (e.g.
                        for iOS
                        users, the App Store operated by Apple Inc. or for Android users, the Google Play store operated
                        by Google
                        Inc.). &nbsp;&nbsp;</span></li>
      </ol>
      <h5><span>11.&nbsp;&nbsp;DISPUTES / ADDITIONAL TERMS</span></h5>
      <p><span><strong>Choice of Law/Jurisdiction</strong></span></p>
      <ul>
            <li><span>You agree that this Platform is a passive platform solely based in Kolkata, INDIA, which does not
                        give
                        rise to personal jurisdiction over Demo Smart OPD in jurisdictions other than Kolkata.</span>
            </li>
            <li><span>You agree that the Platform, Terms, Privacy Policy and any dispute between you and Demo Smart OPD
                        shall be governed in all respects by Kolkata law.</span></li>
            <li><span>Except where prohibited by applicable law, and without limitation to any statutory rights for
                        consumers,
                        you agree that all disputes, claims and legal proceedings directly or indirectly arising out of
                        or relating
                        to the Platform (including but not limited to the purchase of Demo Smart OPD products) shall be
                        resolved
                        individually, without resort to any form of class action, and exclusively in the state or
                        federal courts
                        located in Kolkata.</span></li>
            <li><span>You consent to waive all defenses of “lack of personal jurisdiction” and “inconvenient forum” with
                        respect to venue and jurisdiction in the state and federal courts of Kolkata.</span></li>
            <li><span>All claims shall be brought within one (1) year after the claim arises, except to the extent a
                        longer
                        period is required by applicable law.</span></li>
      </ul>
      <p><span><strong>Electronic Communications</strong></span></p>
      <ul>
            <li><span>By using the Platform, you agree to receive certain electronic communications from Demo Smart OPD,
                        subject to applicable law.</span></li>
            <li><span>You agree that any notice, agreement, disclosure or other communication that Demo Smart OPD sends
                        you electronically will satisfy any legal communication requirements, including that such
                        communications be
                        in writing.</span></li>
      </ul>
      <p><span><strong>Right to Assign, No Waivers, Severability</strong></span></p>
      <ul>
            <li><span>Demo Smart OPD may assign its rights and duties under these Terms to any party at any time without
                        notice to you, unless notice to you is required by applicable law, but this will not affect your
                        rights or
                        our obligations under these Terms.&nbsp;</span></li>
            <li><span>Demo Smart OPD’s failure to insist upon or enforce strict performance of these Terms is not a
                        waiver
                        of any of these Terms or Demo Smart OPD’s rights. Users should always assume these Terms
                        apply.</span>
            </li>
            <li><span>If any provision in these Terms is held invalid or unenforceable, the remainder of these Terms
                        shall
                        continue to be enforceable.</span></li>
      </ul>
      <p><span>Thanks for reading.&nbsp; Please enjoy our community!</span></p>
      <p><br></p>
      <p><br bogus="1"></p>


</div>