<div class="home">
    <div id="page-header">
        <h1>Dashboard</h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
        </ol>
    </div>
    <br>
    <div class="row">
        <div class="col-md-5">
            <div class="card-none appointments-area">
                <h5 class="mb-2 bo">Appointments</h5>
                <div class="stats">
                    <div>
                        <label>Overall</label>
                        <h2>5.4M</h2>
                    </div>

                    <div>
                        <label>This Month</label>
                        <h2>25,000</h2>
                    </div>

                    <div>
                        <label>Today</label>
                        <h2>300</h2>
                    </div>
                </div>
            </div>
            <!-- <div class="bubbleChart" #chart>

            </div> -->

        </div>

        <div class="col-md-4">
            <div class="card departments-area">
                <h5>Bookings</h5>

                <table class="departments">
                    <thead>
                        <tr>
                            <td width="60%">Department</td>
                            <td width="20%" class="text-center">Monthly</td>
                            <td width="20%" class="text-center">Today</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Orthopaedic</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Physician</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Neurology</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Emergency</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>
                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Emergency</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>

                        <tr>
                            <td><i class="fa fa-plus-circle" aria-hidden="true"></i>Emergency</td>
                            <td class="text-center">1500</td>
                            <td class="text-center">10</td>
                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-md-3" id="item-cards">
            <div class="card flex-row align-items-center">
                <div class="icon gradient-bg-cyan">
                    <i class="fa fa-building" aria-hidden="true"></i>
                </div>
                <div class="pl-2 d-flex align-items-center justify-content-between flex-fill">
                    <h6>Departments</h6>
                    <h4>200</h4>
                </div>
            </div>
            <div class="card flex-row align-items-center ">
                <div class="icon gradient-bg-lamp">
                    <i class="fa fa-user-md" aria-hidden="true"></i>
                </div>
                <div class="pl-2 d-flex align-items-center justify-content-between flex-fill">
                    <h6>Doctors</h6>
                    <h4>200</h4>
                </div>
            </div>
            <div class="card flex-row align-items-center">
                <div class="icon gradient-bg-mint">
                    <i class="fa fa-bed" aria-hidden="true"></i>
                </div>
                <div class="pl-2 d-flex align-items-center justify-content-between flex-fill">
                    <h6>Patients</h6>
                    <h4>200</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4">
        <h4 class="border-bottom pb-2">Revenues</h4>
        <div class="row">
            <div class="col-md-8">
                <div style="text-align:center" class="d-flex align-items-center mt-3">
                    <div class="details">
                        <div class="totalPatient">Total Patient Per Day</div>
                        <div class="avarage">
                            <h6>Average</h6>
                            <h2>233.6</h2>
                        </div>
                        <div class="d-flex">
                            <div class="chart-label">
                                <div class="dot bg-cyan mb-2"></div>
                                <h6>Admitted</h6>
                                <h4>234</h4>
                            </div>
                            <div class="border-left chart-label">
                                <div class="dot bg-orange mb-2"></div>
                                <h6>Discharge</h6>
                                <h4>233</h4>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block btn-custom">STAT</button>
                    </div>
                    <!-- <apx-chart style="width: 100%;" [series]="chartOptions.series"
                        [dataLabels]="chartOptions.dataLabels" [chart]="chartOptions.chart"
                        [tooltip]="chartOptions.tooltip" [stroke]="chartOptions.stroke" [xaxis]="chartOptions.xaxis">
                    </apx-chart> -->
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-center">
                <!-- <apx-chart style="width:100%;" [series]="donutChartOptions.series" [fill]="donutChartOptions.fill"
                    [dataLabels]="donutChartOptions.dataLabels" [legend]="donutChartOptions.legend"
                    [responsive]="donutChartOptions.responsive" [chart]="donutChartOptions.chart">
                </apx-chart> -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <h4 class="border-bottom pb-3 mb-3">Labratory</h4>
                <div style="text-align:center">
                    <!-- <apx-chart style="width: 100%;" [series]="columnChartOptions.series"
                        [dataLabels]="columnChartOptions.dataLabels" [chart]="columnChartOptions.chart"
                        [tooltip]="columnChartOptions.tooltip" [stroke]="columnChartOptions.stroke"
                        [fill]="columnChartOptions.fill" [xaxis]="columnChartOptions.xaxis"
                        [plotOptions]="columnChartOptions.plotOptions">
                    </apx-chart> -->
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <h4 class="border-bottom pb-2 mb-2">Doctor on Holiday</h4>
                <div style="text-align:center">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>@fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry the Bird</td>
                                <td>@twitter</td>
                                <td>@twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>