h2,h4,h3{
    font-family: "Poppins", sans-serif !important;
}
.mat-dialog-content {
    margin: 0px !important; 
    font-family: "Poppins", sans-serif !important;

}
form{
    margin-top:0px;
}
.form-control{
    box-shadow: none;
    border: none;
    border-radius: 0;
}
.form-control:focus{
    border-bottom-color: #089eae !important;
}
.alert{
    padding: 0;
    margin-bottom: 0;
}

.mat-dialog-container {
    padding: 0px !important;
    font-family: "Poppins", sans-serif !important;
}

.mat-dialog-actions {
    padding: 8px 0;
    display: flex;
    margin-bottom: 0px;
}