<div id="navbar">
    <div class="left-side">
        <img src="../../../assets/img/sidebar/hamburger-04.svg" id="sidebarCollapse" class="toggle-collapse">
    </div>
    <div class="right-side">
        <img [src]="fullscreen" (click)="openFullscreen()">
        <img src="../../../assets/icons/power_settings_new-black-36dp.svg" (click)="confirmLogOut()" >
        <!-- <button type="button" class="logout p-0" aria-haspopup="true" aria-expanded="false">
            <img src="../../../assets/img/sidebar/profile.png" style="width:48px !important">
        </button> -->
    </div>
</div>
