.header{

}

hr{
    margin-top: 0;
}

.active-tab{
    background-color: #005c66 !important;
    color: white !important;
    .material-icons{
        transition: all ease .2s;
        transform: rotate(180deg);
    }
}

.heading-text{
    background: #d91e2e;
    color: white;
    padding: 0.5rem ;
    font-size: 50px;
}
.btn-link{
    box-shadow: none;
    color: #005c66;
    box-shadow: 0 0.1rem 0.6rem #ebf5f7;
    text-decoration: none;
    background-color: white;
    display: flex;
    padding: 1rem 0.8rem;
    justify-content: space-between;
}
.material-icons{
    margin-top: 4px;
    transition: all ease .2s;
}

.f-card{
    margin-bottom: 1rem;
}
.card-body{
    background: #ebf5f7;
}