<div class="faqs">

    <div class="heading border-bottom mb-5">
        <div class="primary">
            Help and FAQs
            <span>Dashboard / Patient Profile</span>
        </div>
    </div>
    <div class="contact">
        <div class="contact-list">
            <img src="../../../assets/img/contacts/emergency.png" width="80px" alt="">
            <div class="content mt-4">
                <div class="accent-color" routerLink="/dashboard/faqs/doctor">
                    Doctor FAQs
                </div>
            </div>
        </div>
        <div class="contact-list">
            <img src="../../../assets/img/contacts/admin.png" width="80px" alt="">
            <div class="content mt-4">
                <div class="accent-color" routerLink="/dashboard/faqs/patient">
                    Patient FAQs
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <hr>
    <div class="credit text-center">
       <a href="http://turtleye.com/">TutlEye</a>
    </div>
</div>