<div class="alert">
    <h3 mat-dialog-title>Charnock SmartOPD</h3>
    <form #f="ngForm" (ngSubmit)="reschedule(f)">
        <mat-dialog-content class="mat-typography p-0">
            <h2>Reschedule Appointment({{data.reschedule.slot.appointments.length}})</h2>
            <div>Date: <label>{{rescheduleAppointment.orginal_date}}</label> </div>
            <div>Original Time: <label>{{rescheduleAppointment.original_time}}</label> </div>
            <br>
            <div class="form-group">
                <label for="">New Time</label>
                <input type="time" name="new_time" class="form-control" [(ngModel)]="rescheduleAppointment.new_time"
                    required>
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" name="password" placeholder="*******" class="form-control"
                    [(ngModel)]="rescheduleAppointment.password" required>
            </div>
            <br>
        </mat-dialog-content>
        <mat-dialog-actions align="end">
            <button class="btn" mat-dialog-close="true">Cancel</button>
            <button type="submit" [disabled]="loading || (!f.valid)" class="btn btn-theme-sm" cdkFocusInitial>
                Reschedule
                <span class="ml-2" *ngIf="loading"><img src="../../../assets/icons/ring.svg" width="20px" alt=""></span>
            </button>
        </mat-dialog-actions>
    </form>
</div>